---
import Layout from "../layouts/Layout.astro";
import MyProjectsList from "../components/MyProjectsList.astro";
---

<Layout lang={"ru"} title="Мои проекты">
  <h2>Мои проекты</h2>
  <p>
    Неко­то­рые про­ек­ты про­си­ли не раз­гла­шать. Неко­то­рые — за­бы­лись.
    Что вспомнил — в этом списке.
  </p>
  <MyProjectsList />

  <h3>BandApart</h3>
  <p>
    <a href="http://enjoyme.ru/">http://enjoyme.ru/</a> — разрабатывал верстку сайта
    в 2014-2015 годах.
  </p>
  <p>
    <a href="http://www.finedesigngroup.ru/">http://www.finedesigngroup.ru/</a>
    — разрабатывал верстку сайта в 2014-2015 годах.
  </p>
  <p>
    <a href="http://yagoodza.ru">http://yagoodza.ru</a> — при­ни­мал уча­стие в сов­мест­ной
    верст­ке пер­вой вер­сии Ягуд­зы, которую разрабатывал TurboMilk.
    <small
      ><a href="http://turbomilk.ru/portfolio/web_sites/yagoodza/"
        >Статья Турбомилка</a
      >
    </small>
  </p>
  <h3>Фриланс</h3>
  <p>
    <a href="http://pokupator.ru">Покупатор</a> — сервис групповых покупок. Верстка
    сайта. Недоступен.
  </p>
  <p>
    <a href="http://librissimo.ru">Либриссимо</a> - книжная полка/соц.сеть. Верстка
    сайта. Уже недоступен.
  </p>
  <p>
    <a href="http://vsenavelcom.by">http://vsenavelcom.by</a> — со­зда­вал са­мую
    первую вер­сию про­мо­сай­та «Все на Вел­ком», от ко­то­рой оста­лась ничего.
  </p>
  <p>
    <a href="http://lifehacker.ru">http://lifehacker.ru</a> — одна из первых версий,
    проработавшая (с модификациями) до 2013 года.
  </p>
  <h3>Pet project</h3>
  <p>
    <a href="https://github.com/KarelWintersky/beauTypo-ls"
      >https://github.com/KarelWintersky/beauTypo-ls</a
    >
    — Beauty and simple markdown typo for Livestreet
  </p>
  <h3>InSales</h3>
  <p>
    <a href="http://2gadgets.ru">http://2gadgets.ru</a> — разрабатывал сайт на платформе
    InSales, недоступен
  </p>
  <p>
    <a href="http://gembox.ru">http://gembox.ru</a> — разрабатывал сайт на платформе
    InSales, недоступен
  </p>
  <p>
    <a href="http://www.skladbrendov.ru">http://www.skladbrendov.ru</a>
    — разрабатывал сайт на платформе InSales, недоступен
  </p>
  <p>
    <a href="http://www.atlantic-shop.ru">http://www.atlantic-shop.ru</a>
    — разрабатывал сайт на платформе InSales, недоступен
  </p>
  <p>
    <a href="http://www.polimaster.com">http://www.polimaster.com</a>
    - верстка и программирование. Уже недоступен
  </p>
  <h3>Artais</h3>
  <p>
    <a href="http://www.medisa.info">http://www.medisa.info</a> — Инновационные биотехнологические
    препараты западных производителей. Верстка и программирование.
  </p>
  <p>
    <a href="http://www.veles-capital.ua">http://www.veles-capital.ua</a>
    - верстка и программирование. Уже недоступен
  </p>
  <p>
    <a href="http://smartparts.by">http://smartparts.by</a> - верстка. Уже недоступен
  </p>
  <p>
    <a href="http://www.group.in.ua">http://www.group.in.ua</a> - верстка и программирование.
    Уже недоступен
  </p>
  <p>
    <a href="http://www.ego.in.ua">http://www.ego.in.ua</a> — ООО «ЭГО». Верстка
    и программирование. Уже недоступен
  </p>
  <p>
    <a href="http://www.brsm-nafta.com">http://www.brsm-nafta.com</a>
    — «БРСМ Нафта», национальная сеть автозаправочных комплексов. Первая версия сайта.
    Верстка и программирование. Уже недоступна
  </p>
  <p>
    <a href="http://www.qff.org.au">http://www.qff.org.au</a> — старая версия. Верстка
    и программирование. Уже недоступен
  </p>
  <p>
    <a href="http://hlb.com.ua">http://hlb.com.ua</a> — первая и вторая версии. Верстка
    и программирование. Уже недоступен
  </p>
  <p>
    <a href="http://www.consulting.ua">http://www.consulting.ua</a>
    — первая и вторая версии.
  </p>
  <p>
    <a href="http://www.pspaudit.com.ua">http://www.pspaudit.com.ua</a>
    — первая и вторая версии. Верстка и программирование. Уже недоступны
  </p>
  <p>
    <a href="http://www.sova.ua">http://www.sova.ua</a> — первая версия сайта. Верстка
    и программирование. Уже недоступны
  </p>
  <p>
    <a href="http://www.p-p.ua">http://www.p-p.ua</a> — первая и вторая версии. Верстка
    и программирование. Уже недоступны
  </p>
  <p>
    <a href="http://ocenka.kiev.ua">http://ocenka.kiev.ua</a> — сайт для ООО «Но­тин­гем
    Ха­уз». Первая версия сайта. Верстка и программирование. Уже недоступна
  </p>
  <p>
    <a href="http://www.k-team.com.ua">http://www.k-team.com.ua</a>
    — Юри­ди­че­ская фир­ма Ком­пе­тенц Тим. Первая версия сайта. Верстка и программирование.
    Уже недоступна
  </p>
</Layout>
