---
import Layout from "../../layouts/LayoutProject.astro";
---

<Layout title="AnnieSelke.com">
  <p>
    Annie Selke, a leading home and décor retailer, introduced its first cotton
    woven rug over 15 years ago and has slowly evolved to become a
    mega-retailer. While Annie Selke never intended to launch a brand under her
    name, the fast-growing customer base of her two existing brands (Pine Cone
    Hill and Dash & Albert) drove her to unite them under the Annie Selke
    umbrella. Since then, the retailer has expanded its customer base on a
    global scale, selling its products in more than 3,000 physical locations
    nationwide with distribution available in Europe, Australia, and Canada.
  </p>
  <h2>Project goals</h2>
  <ul>
    <li>Develop mobile version of existing site</li>
    <li>
      Migrate content management system to Bloomreach Releases Experience
      Manager (brXM)
    </li>
    <li>
      Setup Layer0 networkfor splitting traffic between mobile and basic verion
    </li>
    <li>Speed up the mobile site as much as possible</li>
    <li>
      Get green statuses on PageSpeed Insights for all retail pages (landings /
      product lists / product details)
    </li>
    <li>
      Integrate analytics without negative affects on page load speed and
      metrics
    </li>
  </ul>
  <h2>My Participation</h2>
  <ul>
    <li>Team Lead</li>
    <li>Develop Layer0 network architecture</li>
    <li>
      Lead migration to brXM CMS: develop content management system
      architecture, communicate with brMX team, team lead.
    </li>
    <li>Manage roll-outs and releases</li>
    <li>Client communication</li>
    <li>Co-piloting PM's</li>
  </ul>
  <h2>Achievments</h2>

  <figure>
    <img
      src="/img/projects/annieselke-com.png"
      alt="AnnieSelke.com PLP to PDP transition"
    />
    <figcaption>
      Improve <dfn title="Product List Page">PLP</dfn> to <dfn
        title="Product Details Page">PDP</dfn
      > transition to 0.3&thinsp;sec.
    </figcaption>
  </figure>
  <p>
    In released project we suceccfully migrated to brXM CMS system and achieved:
  </p>
  <div class="row">
    <div class="col-1of2">
      <h3>Speed</h3>
      <ul>
        <li>543ms median browsing speeds regardless of network quality</li>
        <li>320ms median page loads (LCP)</li>
        <li>300ms average AMP page loads from search</li>
        <li>
          <dfn
            title="It means we cache everything except user-related data of the site"
            >95%+ cache hit rate</dfn
          > for dynamic content at the edge
        </li>
      </ul>
      <h3>Traffic</h3>
      <ul>
        <li>32%+ average organic traffic growth</li>
        <li>32% organic traffic lift‍ from its instant eCommerce PWA</li>
        <li>
          Outranks Amazon, Wayfair, Williams-Sonoma, and other multi-billion
          dollar competitors
        </li>
      </ul>
    </div>
    <div class="col-1of2">
      <h3>Sales</h3>
      <ul>
        <li>10B+ in revenue flows through Layer0 a year</li>
        <li>1/3rd of US shoppers visit a Layer0-powered website every month</li>
        <li>13% conversion lift due to sub-second speeds</li>
      </ul>
    </div>
  </div>
</Layout>
