---
import Layout from "../../layouts/LayoutProject.astro";
---

<Layout title="Конфигуратор тахографов">
  <img src="/img/dtco-conf/device-dtco.jpg" alt="Рендер конфигуратора" />

  <p>
    Менеджеры настраивают тахографы партиями по&nbsp;10—20 штук под&nbsp;нужды
    заказчиков: загружают логотипы для&nbsp;отчётов, выставляют часовой пояс,
    проверяют настройки отслеживания работы и&nbsp;отдыха.
  </p>
  <p>
    Настройка занимает много времени, если её&nbsp;делать с&nbsp;помощью
    аналоговых кнопок тахографа
  </p>

  <img
    src="/img/dtco-conf/dtco-with-smartlink.jpg"
    alt="Тахограф со смартлинком"
  />

  <p>
    Конфигуратор (DTCO Configuration App) упрощает настройку цифровых
    тахографов. Менеджер подключает к&nbsp;тахографу беспроводной передатчик
    Смартлинк, выбирает тахограф и&nbsp;настраивает&nbsp;его с&nbsp;телефона.
  </p>

  <img src="/img/dtco-conf/workflow2.png" alt="Экраны приложения" />

  <p>
    Программа предупреждает пользователя, если в&nbsp;тахограф не&nbsp;вставлена
    рабочая карточка менеджера или&nbsp;потеряно соединение со&nbsp;смартлинком.
  </p>

  <img
    src="/img/dtco-conf/error-warnings2.png"
    alt="Варианты шапки приложения в разных случаях"
  />

  <h3 style="margin-top: 3rem">Мой вклад</h3>

  <p>
    Разработка пользовательских сценариев использования, отрисовка интерфейса
    системы и&nbsp;макетов в&nbsp;Sketch, контроль отрисовки интерфейса
    под&nbsp;Андроид и&nbsp;АйОс.
  </p>
</Layout>
