---
import Layout from "../../layouts/LayoutProject.astro";
---

<Layout title="GuideToIceland.com">
  <p>
    Uniting over 1000 Icelandic travel operators in a single community, Guide to
    Iceland remains the world&#39;s largest collaboration for Icelandic travel
    services.
  </p>
  <figure>
    <img
      class="img-browser"
      src="/img/projects/guidetoiceland-com.png"
      alt="Screenshot of GuideToIceland.com main page"
    />
    <figcaption>GuideToIceland.com main page</figcaption>
  </figure>
  <h2>Project goals</h2>
  <ul>
    <li>
      Speed up existing new site builded on React<ul>
        <li>Keep old site on PHP working and migrate to React page by page</li>
      </ul>
    </li>
    <li>
      Setup Layer0 network for splitting traffic between enhanced and optimised
      new site, React site and old PHP site.
    </li>
    <li>Multi-domain support</li>
    <li>Get all pages green on PageSpeed Insights</li>
  </ul>
  <h2 id="my-participation">My Participation</h2><ul>
    <li>Senior Architect &amp; Team Lead</li>
    <li>Develop network architecture</li>
    <li>Client communication</li>
    <li>Manage site and network env releases</li>
  </ul>
  <h2 id="achievments">Achievments</h2>
  <p>We got all green metrics goals year after my leaving the company.</p>
  <ul>
    <li>During my work we achieved 85% of pages green.</li>
  </ul>
</Layout>
