---
import Layout from "../../layouts/LayoutProject.astro";
---

<Layout title="Приложение С-Е-Й-Ф">
  <img
    src="/img/safe/device-safe.jpg"
    alt="Рендер приложения"
    class="border-bottom"
  />
  <p>
    В работе грузовых перевозок очень много бумажной работы. Каждая поездка
    сопровождается проверкой машины и грузового прицепа
    в&nbsp;трёх&nbsp;экземплярах. Работодатели вынуждены держать отдел клерков
    для&nbsp;работы с&nbsp;отчётностью.
  </p>

  <p>
    Водители не отличаются пунктуальностью и&nbsp;честностью, поэтому забывают
    взять или&nbsp;заполнить формы. Также хищение топлива и&nbsp;левые маршруты
    причиняют катастрофические убытки в&nbsp;один миллиард евро в&nbsp;год
    в&nbsp;одной Норвегии.
  </p>

  <p>
    Приложение С-Е-Й-Ф заменяет бумажные формы проверки автомобиля, контролирует
    покупку бензина и&nbsp;<abbr title="Горюче-смазочные материалы">ГСМ</abbr> и&nbsp;помогает
    водителям оформить ДТП или&nbsp;несчастный случай для&nbsp;уведомления работодателя.
  </p>

  <p>
    Данные из&nbsp;приложений в&nbsp;реальном времени отображаются
    в&nbsp;веб-приложении работодателя, а&nbsp;аварийные ситуации сразу
    отсылаются на&nbsp;электропочту для&nbsp;оперативного реагирования.
  </p>

  <img src="/img/safe/safe-screens.png" alt="Некоторые экраны приложения" />

  <h3 style="margin-top: 3rem">Мой вклад</h3>

  <p>
    Разработка пользовательских сценариев использования, отрисовка интерфейса
    системы, программирование гибридного веб-приложения на&nbsp;Ангуляре
    и&nbsp;Кордове.
  </p>
</Layout>
