---
import Header, { Props as HeaderProps } from '../components/Header.astro';

export interface Props extends HeaderProps {
    backLink?: boolean;
}

const props = Astro.props;
const { title, lang, backLink } = props;

const ownerName = lang === 'ru' ? 'Андрей Борисенко' : 'Andrew Borisenko';
---

<!doctype html>
<html class='no-js' lang='ru'>
    <head>
        <Header {...props} />
    </head>
    <body>
        <header>
            <nav>
                <menu>
                    <li>
                        {
                            backLink ? (
                                <a href='/tumblr' class='return-back'>
                                    Tumblr Archive
                                </a>
                            ) : (
                                <a href='/index.html' class='return-back'>
                                    {ownerName}
                                </a>
                            )
                        }
                    </li>
                </menu>
            </nav>
            <h1>{title}</h1>
        </header>
        <main><slot /></main>
    </body>
</html>
